
.applications-filter {
	width: 100%;
	padding: toRem(0) toRem(15);
	background-color: $lightYellow;
	overflow: hidden;
	border-radius: $blocksBorderRadius;
	@media (max-width: em(800)){
		padding: toRem(10) toRem(10);
	}
	@media (max-width: em(600)){
		padding: toRem(10);
	}
		&__title-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: toRem(20);
			height: 100%;
			@media (max-width: em(800)){
				height: auto;
			}
			@media (max-width: em(600)){
				flex-wrap: wrap;
				justify-content: end;
				gap: toRem(10);
			}
		}
		&__left-container {
			display: flex;
			gap: toRem(30);
			@media (max-width: em(800)){
				flex-wrap: wrap;
				flex-direction: column;
				gap: toRem(10);
				padding: toRem(5) toRem(0);
				width: 100%;
			}
			@media (max-width: em(600)){
				padding: toRem(0);
			}
		}
		&__filter-title-container {
			display: flex;
			align-items: center;
			gap: toRem(15);
			width: fit-content;
			&:hover {
				cursor: pointer;
			}
		}
		&__title {
			font-size: toRem(16);
			font-weight: 500;
			color: rgba($color: #000000, $alpha: 1);
			@media (max-width: em(800)){
				font-size: toRem(14);
			}
		}
		&__close-button {
			position: relative;
			width: toRem(20);
			height: toRem(20);
			&>* {
				width: toRem(20);
				position: absolute;
				top: 0;
				right: 0;
			}
		}
		&__minus-icon {
		}
		&__second-minus-icon {
			transition: all 0.3s ease 0s;
		}
		&__parametrs-container {
			transition: all 0.3s ease 0s;
			width: 100%;
			@media (max-width: em(800)){
				padding: toRem(0);
			}
			@media (max-width: em(480)){
				padding: toRem(0);
			}
		}
		&__filter {
			display: flex;
			gap: toRem(20);
			padding: toRem(5) toRem(0) toRem(10) toRem(0);
			width: 100%;
			@media (max-width: em(800)){
				display: flex;
				flex-direction: column;
				padding: toRem(10) toRem(0) toRem(5) toRem(0);
				gap: toRem(10);
			}
		}
		&__sort {
		}
		&__bottom-container {
			display: flex;
			justify-content: end;
			gap: toRem(20);
			width: 100%;
			@media (max-width: em(800)){
				gap: toRem(10);
				padding: toRem(5) toRem(0) toRem(0) toRem(0);
			}
			@media (max-width: em(480)){
				flex-direction: column;
			}
		}
		&__reset-button {
			min-width: toRem(250);
			font-size: toRem(16);
			font-weight: 500;
			padding: toRem(10) toRem(40);
			border-radius: toRem(5);
			transition: all 0.3s ease 0s;
			background-color: rgba(59, 56, 25, 0.3);
			display: flex;
			align-items: center;
			justify-content: center;
			gap: toRem(5);
			@media (max-width: em(800)){
				width: 100%;
				min-width: toRem(100);
			}
			& span {
				font-size: toRem(13);
			}
			&:hover {
				transition: all 0.3s ease 0s;
				background-color: rgba(204, 0, 0, 0.4);
			}
			&:active {
				background-color: rgba(59, 56, 25, 0.4);
			}
		}
		&__result-button {
			min-width: toRem(250);
			font-size: toRem(16);
			font-weight: 500;
			padding: toRem(10) toRem(40);
			border-radius: toRem(5);
			transition: all 0.3s ease 0s;
			background-color: $activeButton;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: toRem(5);
			@media (max-width: em(800)){
				width: 100%;
				min-width: toRem(100);
			}
			& span {
				font-size: toRem(13);
			}
			&:hover {
				transition: all 0.3s ease 0s;
				background-color: $mainYellow;
			}
			&:active {
				background-color: $activeButton;
			}
		}
		&__input-eyes {

		}
}

.parametrs {
	display: flex;
	justify-content: space-between;
}

.sort {
	display: flex;
	align-items: center;
	gap: toRem(15);
	@media (max-width: em(480)){
		flex-wrap: wrap;
		gap: toRem(5);
	}
		&__title {
			text-align: left;
			font-size: toRem(16);
			font-weight: 500;
			color: rgba($color: #000000, $alpha: 1);
			white-space: pre;
			@media (max-width: em(800)){
				font-size: toRem(14);
			}
		}
		&__select {
			outline: none;
			height: toRem(36);
			background-color: rgba(255, 201, 60, 0.7);
			border-radius: toRem(5);
			font-size: toRem(16);
			font-weight: 500;
			color: rgba($color: #000000, $alpha: 1);
			padding: toRem(0) toRem(15);
			text-align: center;
			transition: all 0.3s ease 0s;
			font-family: Arial, Helvetica, sans-serif;
			min-width: toRem(150);
			width: toRem(230);
			@media (max-width: em(992)){
				width: 100%;
			}
			// box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1) inset;
			// -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1) inset;
			// -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1) inset;
		
			-webkit-appearance: none; /* Для WebKit (Chrome, Safari) */
			-moz-appearance: none;    /* Для Firefox */
			appearance: none;         /* Общий стиль */
			// background-image: url('@img/icons/link-icon.png'); /* Замените на свою иконку */
			// background-size: 12px;
			// background-repeat: no-repeat;

			
			/* Настройка стилей для выбранного состояния (опционально) */
			&:hover{
				cursor: pointer;
				background-color: $mainYellow;
				transition: all 0.3s ease 0s;
			}
		}
		&__category {
			border-radius: toRem(5);
			padding: toRem(7);
			transition: all 0.3s ease 0s;
			border: 1px solid rgba($color: #000, $alpha: 0.4);
			&:hover {
				background-color: $mainYellow;
			}
			&:focus {
				background-color: $activeButton;
			}
		}
}

.search {
	display: flex;
	align-items: center;
	gap: toRem(15);
	width: 100%;
	justify-content: center;
	@media (max-width: em(480)){
		flex-wrap: wrap;
		gap: toRem(5);
		justify-content: start;
	}
	&__title {
		font-size: toRem(16);
		font-weight: 500;
		color: rgba($color: #000000, $alpha: 1);
			@media (max-width: em(800)){
			font-size: toRem(14);
		}
	}
	&__input-container{
		height: toRem(34);
		border: 1px solid $mainYellow;
		display: flex;
		align-items: center;
		background-color: #fff;
		border-radius: $blocksBorderRadius;
		max-width: toRem(400);
		gap: toRem(5);
		padding: toRem(0) toRem(7);
		width: 100%;
		min-width: toRem(200);
		@media (max-width: em(992)){
			min-width: toRem(150);
			width: 100%;
			max-width: 100%;
		}
		&:focus {
			border: 1px solid $activeButton;
		}
	}
	&__input {
		outline: none;
		height: toRem(26);
		width: 100%;
		font-size: toRem(16);
		border: 1px solid transparent;
		border-radius: $blocksBorderRadius;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $activeButton;
		height: 100%;
		height: toRem(26);
		width: toRem(56);
		border-radius: $blocksBorderRadius;
		transition: all 0.3s ease 0s;
		&:hover {
			transition: all 0.3s ease 0s;
			background-color: $mainYellow;
		}
		& img {
			width: toRem(20);
		}
	}
}


.kinds-app {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: toRem(10);
	@media (max-width: em(800)){
		flex-direction: row;
		align-items: center;
	}
	@media (max-width: em(480)){
		flex-direction: column;
		align-items: start;
		gap: toRem(5);
	}
	&__title {
		font-size: toRem(16);
		@media (max-width: em(800)){
			font-size: toRem(14);
			font-weight: 500;
		}
	}
	&__checkboxes-container {
		display: flex;
		gap: toRem(13);
		@media (max-width: em(800)){
			width: 100%;
		}
	}
	&__checkbox-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: toRem(36);
		background-color: rgba(255, 201, 60, 0.7);
		width: toRem(120);
		border-radius: toRem(5);
		font-size: toRem(16);
		padding: toRem(0) toRem(15);
		@media (max-width: em(800)){
			width: 100%;
			font-size: toRem(15);
			font-weight: 500;
		}
		&:hover {
			cursor: pointer;
		}
	}
	&__checkbox-input {
		&:hover {
			cursor: pointer;
		}
	}
	&__checkbox-label {
		padding-left: toRem(3);
		&:hover {
			cursor: pointer;
		}
	}
}
.search-app {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: toRem(10);
	width: 100%;
	@media (max-width: em(800)){
		flex-direction: row;
		align-items: center;
	}
	@media (max-width: em(480)){
		flex-direction: column;
		align-items: start;
		gap: toRem(5);
	}
	&__title {
		font-size: toRem(16);
		@media (max-width: em(800)){
			font-size: toRem(14);
			font-weight: 500;
		}
	}
	&__select {
		width: 100%;
		outline: none;
		height: toRem(36);
		background-color: rgba(255, 201, 60, 0.7);
		border-radius: toRem(5);
		font-size: toRem(16);
		font-weight: 500;
		color: rgba($color: #000000, $alpha: 1);
		padding: toRem(0) toRem(15);
		text-align: center;
		transition: all 0.3s ease 0s;
		font-family: Arial, Helvetica, sans-serif;
		// box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1) inset;
		// -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1) inset;
		// -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1) inset;
	
		-webkit-appearance: none; /* Для WebKit (Chrome, Safari) */
		-moz-appearance: none;    /* Для Firefox */
		appearance: none;         /* Общий стиль */
		// background-image: url('@img/icons/link-icon.png'); /* Замените на свою иконку */
		// background-size: 12px;
		// background-repeat: no-repeat;

		
		/* Настройка стилей для выбранного состояния (опционально) */
		&:hover{
			cursor: pointer;
			background-color: $mainYellow;
			transition: all 0.3s ease 0s;
		}
	}
	&__option {
	}
}

