/* Для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Ширина скроллбара */
	@media (max-width:$mobile){
		width: 4px;
	}
}

::-webkit-scrollbar-thumb {
  background-color: $lightYellow; /* Цвет ползунка */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет трека */
}

::-webkit-scrollbar-thumb:hover {
  background-color: $mainYellow; /* Цвет ползунка при наведении */
	cursor: pointer;
}