
.vacancy {
	&__navigation-line {
		display: flex;
		justify-content: space-between;
	}
	&__back-button {

	}
	&__top-line {
		display: flex;
		justify-content: space-between;
	}
	&__active-marker {
		padding: toRem(5) toRem(10);
		border: 1px solid rgba($color: #000000, $alpha: 0.3);
		border-radius: $blocksBorderRadius;
	}
	&__user-info {
		margin-top: toRem(5);
		padding: toRem(10) toRem(10);
		background-color: rgba($color: #000000, $alpha: 0.07);
		border-radius: $blocksBorderRadius;
	}
	&__user-title {
		font-weight: 500;
		padding: toRem(3) 0;
		& span {
			padding: toRem(5) 0 toRem(5) toRem(5);
		}
	}
	&__user-info-list {
		margin-top: toRem(5);
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: toRem(5);
	}
	&__user-info-item {
		width: 100%;
		display: flex;
		gap: toRem(5);
	}
	&__user-info-item-title {
		color: rgba($color: #000000, $alpha: 0.6);
	}
	&__user-info-item-data {
	}
	&__user-bottom-line {
		margin-top: toRem(10);
		width: 100%;
		display: flex;
		justify-content: flex-end;
		gap: toRem(15);
	}
	&__user-delete-button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: toRem(30);
		padding: toRem(5) toRem(10);
		border: 1px solid rgba($color: red, $alpha: 0.6);
		border-radius: $blocksBorderRadius;
		font-weight: 400;
		transition: all 0.3s ease 0s;
		color: rgba($color: red, $alpha: 0.6);
		&:hover {
			transition: all 0.3s ease 0s;
			background-color: rgba($color: red, $alpha: 0.7);
			color: #FFFFFF;
		}
	}
	&__user-black-list-button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: toRem(30);
		padding: toRem(5) toRem(10);
		border: 1px solid rgba($color: #000000, $alpha: 0.6);
		color: rgba($color: #000000, $alpha: 0.6);
		border-radius: $blocksBorderRadius;
		font-weight: 400;
		transition: all 0.3s ease 0s;
		&:hover {
			transition: all 0.3s ease 0s;
			background-color: rgba($color: #000000, $alpha: 0.7);
			color: #FFFFFF;
		}
	}
	&__application-info {
		margin-top: toRem(5);
		padding: toRem(10) toRem(10);
		background-color: rgba($color: #000000, $alpha: 0.07);
		border-radius: $blocksBorderRadius;
	}
	&__application-title-line {
		display: flex;
		justify-content: space-between;
		padding: toRem(3) 0;
	}
	&__application-title {
		font-weight: 500;
		& span {
			padding: toRem(5) 0 toRem(5) toRem(5);
		}
	}
	&__application-info-item-active {
		display: flex;
		align-items: center;
		gap: toRem(6);
		& div {

		}
		padding: toRem(3) toRem(15);
		border-radius: $blocksBorderRadius;
		font-size: toRem(14);
	}
	&__application-info-list {
		margin-top: toRem(5);
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: toRem(5);
	}
	&__application-info-item {
		width: 100%;
		display: flex;
		gap: toRem(4);
	}
	&__application-info-item-title {
		color: rgba($color: #000000, $alpha: 0.6);
	}
	&__application-info-item-data {
	}
}

.vacancy-info-item-active-green {
	height: toRem(7);
	width: toRem(7);
	border-radius: 50%;
	padding: toRem(5);
	background-color: rgb(0, 255, 0);
}

.vacancy-info-item-active-red {
	height: toRem(7);
	width: toRem(7);
	border-radius: 50%;
	padding: toRem(5);
	background-color: rgb(255, 56, 56);
}

.vacancy-description-container {
	display: flex;
	flex-direction: column;
}

.vacancy-description {
	margin-top: toRem(3);
	padding: toRem(3) toRem(10) toRem(10) toRem(10);
	border: 1px solid rgba($color: #000000, $alpha: 0.1);
	background-color: rgba($color: #FFFFFF, $alpha: 0.6);
	line-height: 105%;
	border-radius: $blocksBorderRadius;
	font-size: 400;
	color: rgba($color: #000000, $alpha: 0.8);
	font-size: toRem(13);
	& strong {
		font-weight: 500;
	}
	& p {
		margin-top: toRem(5);
	}
}